# Getting Started

In [1]:
import pandas as pd

# Creating Data (DataFrame)

In [3]:
# Dataframe is a table contains rows and columns with values in it
statistics_score = pd.DataFrame({'Zhao':[96,94,92,93,94],'Dikky':[92,94,90,86,90]})
print(statistics_score)
statistics_score = pd.DataFrame({'Zhao':[96,94,92,93,94],'Dikky':[92,94,90,86,90]},index=["Hypothesis","Calculus","Programming and Algorithm","Descriptive Statistics","Sampling"])
print(statistics_score)

   Zhao  Dikky
0    96     92
1    94     94
2    92     90
3    93     86
4    94     90
                           Zhao  Dikky
Hypothesis                   96     92
Calculus                     94     94
Programming and Algorithm    92     90
Descriptive Statistics       93     86
Sampling                     94     90

# Series

In [6]:
# Series is a list. If a DataFrame is a table, series is a list in the table, it means that DataFrame is combined series(s)
mathematics_zhao = pd.Series([89,87,90,85,83])
print(mathematics_zhao)
mathematics_zhao = pd.Series([89,87,90,85,83],index=["Calculus I","Calculus II","Calculus III","Algebra I","Algebra II"],name = "Zhao's Mathematics Score")
print(mathematics_zhao)

0    89
1    87
2    90
3    85
4    83
dtype: int64
Calculus I      89
Calculus II     87
Calculus III    90
Algebra I       85
Algebra II      83
Name: Zhao's Mathematics Score, dtype: int64

# Reading Dataset

In [10]:
dataset = pd.read_csv("Dataset/Heart_Disease_Prediction.csv")
print(dataset.describe())
dataset.head()

              Age         Sex  Chest pain type          BP  Cholesterol  \
count  270.000000  270.000000       270.000000  270.000000   270.000000
mean    54.433333    0.677778         3.174074  131.344444   249.659259
std      9.109067    0.468195         0.950090   17.861608    51.686237
min     29.000000    0.000000         1.000000   94.000000   126.000000
25%     48.000000    0.000000         3.000000  120.000000   213.000000
50%     55.000000    1.000000         3.000000  130.000000   245.000000
75%     61.000000    1.000000         4.000000  140.000000   280.000000
max     77.000000    1.000000         4.000000  200.000000   564.000000

       FBS over 120  EKG results      Max HR  Exercise angina  ST depression  \
count    270.000000   270.000000  270.000000       270.000000      270.00000
mean       0.148148     1.022222  149.677778         0.329630        1.05000
std        0.355906     0.997891   23.165717         0.470952        1.14521
min        0.000000     0.000000   71.000000         0.000000        0.00000
25%        0.000000     0.000000  133.000000         0.000000        0.00000
50%        0.000000     2.000000  153.500000         0.000000        0.80000
75%        0.000000     2.000000  166.000000         1.000000        1.60000
max        1.000000     2.000000  202.000000         1.000000        6.20000

       Slope of ST  Number of vessels fluro    Thallium
count   270.000000               270.000000  270.000000
mean      1.585185                 0.670370    4.696296
std       0.614390                 0.943896    1.940659
min       1.000000                 0.000000    3.000000
25%       1.000000                 0.000000    3.000000
50%       2.000000                 0.000000    3.000000
75%       2.000000                 1.000000    7.000000
max       3.000000                 3.000000    7.000000

,Age,Sex,Chest pain type,BP,Cholesterol,FBS over 120,EKG results,Max HR,Exercise angina,ST depression,Slope of ST,Number of vessels fluro,Thallium,Heart Disease
0,70,1,4,130,322,0,2,109,0,2.4,2,3,3,Presence
1,67,0,3,115,564,0,2,160,0,1.6,2,0,7,Absence
2,57,1,2,124,261,0,0,141,0,0.3,1,0,7,Presence
3,64,1,4,128,263,0,0,105,1,0.2,2,1,7,Absence
4,74,0,2,120,269,0,2,121,1,0.2,1,1,3,Absence

In [12]:
dataset2 = pd.read_csv("Dataset/Heart_Disease_Prediction.csv",index_col=0)
print(dataset2.describe())
dataset2.head()

              Sex  Chest pain type          BP  Cholesterol  FBS over 120  \
count  270.000000       270.000000  270.000000   270.000000    270.000000
mean     0.677778         3.174074  131.344444   249.659259      0.148148
std      0.468195         0.950090   17.861608    51.686237      0.355906
min      0.000000         1.000000   94.000000   126.000000      0.000000
25%      0.000000         3.000000  120.000000   213.000000      0.000000
50%      1.000000         3.000000  130.000000   245.000000      0.000000
75%      1.000000         4.000000  140.000000   280.000000      0.000000
max      1.000000         4.000000  200.000000   564.000000      1.000000

       EKG results      Max HR  Exercise angina  ST depression  Slope of ST  \
count   270.000000  270.000000       270.000000      270.00000   270.000000
mean      1.022222  149.677778         0.329630        1.05000     1.585185
std       0.997891   23.165717         0.470952        1.14521     0.614390
min       0.000000   71.000000         0.000000        0.00000     1.000000
25%       0.000000  133.000000         0.000000        0.00000     1.000000
50%       2.000000  153.500000         0.000000        0.80000     2.000000
75%       2.000000  166.000000         1.000000        1.60000     2.000000
max       2.000000  202.000000         1.000000        6.20000     3.000000

       Number of vessels fluro    Thallium
count               270.000000  270.000000
mean                  0.670370    4.696296
std                   0.943896    1.940659
min                   0.000000    3.000000
25%                   0.000000    3.000000
50%                   0.000000    3.000000
75%                   1.000000    7.000000
max                   3.000000    7.000000

,Sex,Chest pain type,BP,Cholesterol,FBS over 120,EKG results,Max HR,Exercise angina,ST depression,Slope of ST,Number of vessels fluro,Thallium,Heart Disease
Age,,,,,,,,,,,,,
70,1,4,130,322,0,2,109,0,2.4,2,3,3,Presence
67,0,3,115,564,0,2,160,0,1.6,2,0,7,Absence
57,1,2,124,261,0,0,141,0,0.3,1,0,7,Presence
64,1,4,128,263,0,0,105,1,0.2,2,1,7,Absence
74,0,2,120,269,0,2,121,1,0.2,1,1,3,Absence

Coded By Maulana Zulfikar Aziz