In [6]:
# Mengubah Data Ordinal
import pandas as pd
gender = ["Pria", "Pria", "Wanita", "Pria", "Wanita",
          "Wanita", "Wanita", "Pria", "Pria", "Wanita"]
df = pd.DataFrame({"Jenis_Kelamin":gender})
print(df.dtypes) # Kita akan ubah tipe data Jenis_Kelamin dari object menjadi Category

# Definisikan sebuah variabel bernama cat yang nantinya akan digunakan untuk merubah tipe data
cat = pd.CategoricalDtype(["Pria","Wanita"])
df = df.astype({"Jenis_Kelamin":cat})
print(df.dtypes)

Jenis_Kelamin    object
dtype: object
Jenis_Kelamin    category
dtype: object

In [11]:
# Mengubah Data Nominal
gender = ["Pria", "Pria", "Wanita", "Pria", "Wanita",
          "Wanita", "Wanita", "Pria", "Pria", "Wanita"]
# Data cek medis
mcu = ["tidak pernah", "rutin (1 tahun sekali)",
       "tidak tentu waktunya", "tidak pernah", 
       "rutin (1 tahun sekali)", "lebih dari 2 tahun sekali",
       "tidak pernah", "tidak pernah", 
       "rutin (1 tahun sekali)", "2 tahun sekali"]

df = pd.DataFrame({"Jenis_Kelamin":gender,"Cek_Medis":mcu})
print(df.dtypes)

cat = pd.CategoricalDtype(["Pria","Wanita"])
cat2 = pd.CategoricalDtype(["tidak pernah","tidak tentu waktunya","lebih dari 2 tahun sekali",
                            "2 tahun sekali","rutin (1 tahun sekali)"],ordered=True)
df = df.astype({"Jenis_Kelamin":cat,"Cek_Medis":cat2})
print(df.dtypes)

df["Cek_Medis"].head()

Jenis_Kelamin    object
Cek_Medis        object
dtype: object
Jenis_Kelamin    category
Cek_Medis        category
dtype: object

0              tidak pernah
1    rutin (1 tahun sekali)
2      tidak tentu waktunya
3              tidak pernah
4    rutin (1 tahun sekali)
Name: Cek_Medis, dtype: category
Categories (5, object): ['tidak pernah' < 'tidak tentu waktunya' < 'lebih dari 2 tahun sekali' < '2 tahun sekali' < 'rutin (1 tahun sekali)']

In [15]:
# Membuat data kategorikal
# Data berat badan 120 orang 
bb120 = [71.2, 66.8, 66.9, 65.9, 69.7, 63.4, 71.5, 66.5, 68.6, 67.5, 
         70.9, 63.9, 67.4, 67.2, 70.3, 65.8, 67.7, 66.2, 68.1, 69.2, 
         65.8, 70.3, 69.8, 69.0, 69.8, 66.6, 67.8, 66.1, 67.5, 69.1, 
         66.6, 67.2, 66.6, 66.3, 66.7, 68.0, 65.8, 68.5, 71.3, 69.5, 
         67.6, 66.2, 66.5, 71.4, 68.1, 66.7, 68.4, 72.2, 68.2, 69.2, 
         68.6, 67.3, 65.7, 67.3, 67.6, 69.2, 69.7, 69.9, 68.6, 69.8, 
         66.5, 70.5, 69.0, 67.4, 69.0, 67.8, 70.3, 71.0, 72.4, 65.2, 
         65.1, 67.0, 68.3, 69.8, 68.6, 64.0, 67.4, 69.7, 68.5, 69.5, 
         67.6, 67.6, 68.4, 68.8, 68.4, 68.2, 66.7, 68.8, 68.2, 70.3, 
         70.4, 68.4, 67.2, 66.7, 68.8, 68.2, 67.3, 68.1, 66.8, 69.4, 
         67.1, 70.4, 68.8, 69.2, 65.8, 68.3, 69.5, 66.1, 67.5, 68.1, 
         65.3, 68.6, 69.7, 66.3, 68.7, 65.4, 67.9, 64.8, 70.2, 68.8]
rentang = list(range(63,74))
bins = pd.cut(bb120,rentang,right=False,include_lowest=True)
df = pd.DataFrame(bb120)
df = df.groupby(bins).count()
df.rename(columns={0:"Frekuensi"},inplace=True)
df.index.rename("Rentang Berat Badan",inplace=True)
df

                     Frekuensi
Rentang Berat Badan
[63, 64)                     2
[64, 65)                     2
[65, 66)                    10
[66, 67)                    19
[67, 68)                    22
[68, 69)                    28
[69, 70)                    21
[70, 71)                     9
[71, 72)                     5
[72, 73)                     2

In [32]:
# Mini Project : Membuat data yang berisi berat badan, tinggi badan, dan BMI. Kemudian kelompokkan BMI
bb120 = [71.2, 66.8, 66.9, 65.9, 69.7, 63.4, 71.5, 66.5, 68.6, 67.5, 
         70.9, 63.9, 67.4, 67.2, 70.3, 65.8, 67.7, 66.2, 68.1, 69.2, 
         65.8, 70.3, 69.8, 69.0, 69.8, 66.6, 67.8, 66.1, 67.5, 69.1, 
         66.6, 67.2, 66.6, 66.3, 66.7, 68.0, 65.8, 68.5, 71.3, 69.5, 
         67.6, 66.2, 66.5, 71.4, 68.1, 66.7, 68.4, 72.2, 68.2, 69.2, 
         68.6, 67.3, 65.7, 67.3, 67.6, 69.2, 69.7, 69.9, 68.6, 69.8, 
         66.5, 70.5, 69.0, 67.4, 69.0, 67.8, 70.3, 71.0, 72.4, 65.2, 
         65.1, 67.0, 68.3, 69.8, 68.6, 64.0, 67.4, 69.7, 68.5, 69.5, 
         67.6, 67.6, 68.4, 68.8, 68.4, 68.2, 66.7, 68.8, 68.2, 70.3, 
         70.4, 68.4, 67.2, 66.7, 68.8, 68.2, 67.3, 68.1, 66.8, 69.4, 
         67.1, 70.4, 68.8, 69.2, 65.8, 68.3, 69.5, 66.1, 67.5, 68.1, 
         65.3, 68.6, 69.7, 66.3, 68.7, 65.4, 67.9, 64.8, 70.2, 68.8]
# Data tinggi badan 120 orang (cm)
tb120 = [157., 163., 156., 166., 162., 165., 155., 160., 164., 161., 
         172., 149., 166., 162., 167., 161., 144., 164., 160., 155., 
         157., 162., 177., 163., 155., 173., 159., 156., 154., 157., 
         174., 167., 166., 162., 163., 165., 163., 162., 168., 160., 
         163., 156., 171., 170., 150., 160., 165., 165., 166., 159., 
         136., 163., 152., 166., 166., 149., 167., 160., 157., 164., 
         170., 171., 154., 159., 162., 162., 159., 147., 160., 154., 
         162., 156., 161., 157., 159., 159., 170., 166., 160., 154., 
         168., 152., 154., 157., 155., 156., 170., 161., 157., 166., 
         163., 154., 158., 165., 174., 171., 167., 161., 151., 157., 
         160., 165., 162., 162., 173., 164., 160., 159., 162., 156.,
         170., 160., 158., 156., 167., 153., 159., 163., 161., 163.]
df = pd.DataFrame({"Berat_Badan":bb120,"Tinggi_Badan":tb120})
df["Tinggi_Badan"] = df["Tinggi_Badan"]/100
df["BMI"] = df["Berat_Badan"]/df["Tinggi_Badan"]**2

# Kelompokkan BMI
rentang = [0,18.5,25,30,1000]
bins = pd.cut(df["BMI"],rentang,right=False,include_lowest=True)
kondisi = df[["BMI"]].groupby(bins).count()
kondisi.rename(columns={"BMI":"Jumlah"},inplace=True)
kondisi

                Jumlah
BMI
[0.0, 18.5)          0
[18.5, 25.0)        32
[25.0, 30.0)        83
[30.0, 1000.0)       5

Sumber Belajar : www.dqlab.id