In [1]:
# Load Library yang diperlukan untuk keperluan analisis data
import pandas as pd
import numpy as np

In [2]:
# Load Dataset
df = pd.read_csv("https://storage.googleapis.com/dqlab-dataset/dataset_statistic.csv",sep=";")

In [3]:
# Inspeksi Data

# Menampilkan seluruh baris dalam data
print(df)

# Menampilkan 15 data teratas
print(df.head(15))

# Menampilkan 5 data terbawah
print(df.tail())

    ID Pelanggan     Nama  Jenis Kelamin  Pendapatan Produk   Harga  Jumlah   \
0              1     Arif              1      600000      A  100000        4
1              2     Dian              2     1200000      D  250000        4
2              3    Dinda              2      950000      D  250000        3
3              4    Fajar              1      400000      A  100000        2
4              5      Ika              2     1200000      D  250000        4
5              6    Ilham              1      800000      B  150000        4
6              7    Indra              1      950000      B  150000        5
7              8  Kartika              2     1100000      E  300000        3
8              9  Lestari              2      800000      E  300000        2
9             10      Lia              2     1700000      E  300000        5
10            11    Maria              2      600000      A  100000        4
11            12     Maya              2      950000      B  150000        5
12            13     Mila              2      400000      C  200000        1
13            14    Nurul              2     6450000      D  250000        5
14            15    Retno              2     1000000      C  200000        4
15            16     Rini              2      800000      B  150000        4
16            17    Rizki              1     1200000      C  200000        5
17            18     Sari              2      700000      D  250000        2
18            19     Tyas              2      600000      A  100000        4
19            20    Wahyu              1      800000      C  200000        3

      Total  Tingkat Kepuasan
0    400000                 2
1   1000000                 2
2    750000                 3
3    200000                 3
4   1000000                 2
5    600000                 3
6    750000                 1
7    900000                 3
8    600000                 1
9   1500000                 1
10   400000                 3
11   750000                 3
12   200000                 2
13  1250000                 1
14   800000                 2
15   600000                 1
16  1000000                 3
17   500000                 1
18   400000                 3
19   600000                 1
    ID Pelanggan     Nama  Jenis Kelamin  Pendapatan Produk   Harga  Jumlah   \
0              1     Arif              1      600000      A  100000        4
1              2     Dian              2     1200000      D  250000        4
2              3    Dinda              2      950000      D  250000        3
3              4    Fajar              1      400000      A  100000        2
4              5      Ika              2     1200000      D  250000        4
5              6    Ilham              1      800000      B  150000        4
6              7    Indra              1      950000      B  150000        5
7              8  Kartika              2     1100000      E  300000        3
8              9  Lestari              2      800000      E  300000        2
9             10      Lia              2     1700000      E  300000        5
10            11    Maria              2      600000      A  100000        4
11            12     Maya              2      950000      B  150000        5
12            13     Mila              2      400000      C  200000        1
13            14    Nurul              2     6450000      D  250000        5
14            15    Retno              2     1000000      C  200000        4

      Total  Tingkat Kepuasan
0    400000                 2
1   1000000                 2
2    750000                 3
3    200000                 3
4   1000000                 2
5    600000                 3
6    750000                 1
7    900000                 3
8    600000                 1
9   1500000                 1
10   400000                 3
11   750000                 3
12   200000                 2
13  1250000                 1
14   800000                 2
    ID Pelanggan   Nama  Jenis Kelamin  Pendapatan Produk   Harga  Jumlah   \
15            16   Rini              2      800000      B  150000        4
16            17  Rizki              1     1200000      C  200000        5
17            18   Sari              2      700000      D  250000        2
18            19   Tyas              2      600000      A  100000        4
19            20  Wahyu              1      800000      C  200000        3

      Total  Tingkat Kepuasan
15   600000                 1
16  1000000                 3
17   500000                 1
18   400000                 3
19   600000                 1

In [4]:
# Melihat dimensi data
print("Ukuran Data : ",df.shape)
print("Ukuran Baris : ", df.shape[0])
print("Ukuran Kolom : ",df.shape[1])

Ukuran Data :  (20, 9)
Ukuran Baris :  20
Ukuran Kolom :  9

In [5]:
# Melihat nama-nama kolom dalam data
print(df.columns)

Index(['ID Pelanggan', 'Nama', 'Jenis Kelamin', 'Pendapatan', 'Produk',
       'Harga', 'Jumlah ', 'Total', 'Tingkat Kepuasan'],
      dtype='object')

In [6]:
# Mengidentifikasi apakah ada NA Values dalam data kita
print(df.isna())
print(df.isna().sum())

    ID Pelanggan   Nama  Jenis Kelamin  Pendapatan  Produk  Harga  Jumlah   \
0          False  False          False       False   False  False    False
1          False  False          False       False   False  False    False
2          False  False          False       False   False  False    False
3          False  False          False       False   False  False    False
4          False  False          False       False   False  False    False
5          False  False          False       False   False  False    False
6          False  False          False       False   False  False    False
7          False  False          False       False   False  False    False
8          False  False          False       False   False  False    False
9          False  False          False       False   False  False    False
10         False  False          False       False   False  False    False
11         False  False          False       False   False  False    False
12         False  False          False       False   False  False    False
13         False  False          False       False   False  False    False
14         False  False          False       False   False  False    False
15         False  False          False       False   False  False    False
16         False  False          False       False   False  False    False
17         False  False          False       False   False  False    False
18         False  False          False       False   False  False    False
19         False  False          False       False   False  False    False

    Total  Tingkat Kepuasan
0   False             False
1   False             False
2   False             False
3   False             False
4   False             False
5   False             False
6   False             False
7   False             False
8   False             False
9   False             False
10  False             False
11  False             False
12  False             False
13  False             False
14  False             False
15  False             False
16  False             False
17  False             False
18  False             False
19  False             False
ID Pelanggan        0
Nama                0
Jenis Kelamin       0
Pendapatan          0
Produk              0
Harga               0
Jumlah              0
Total               0
Tingkat Kepuasan    0
dtype: int64

In [7]:
# Melihat ringkasan dari data
print(df.describe())

# Melihat ringkasan berdasarkan kolom
print('\nRingkasan dari kolom Harga :')
print(df["Harga"].describe())

# Mencari nilai minimum dan maksimum dari suatu kolom
print("\nNilai minimum tingkat kepuasan :", df["Tingkat Kepuasan"].min())
print("Nilai maximum tingkat kepuasan :", df["Tingkat Kepuasan"].max())

       ID Pelanggan  Jenis Kelamin    Pendapatan          Harga    Jumlah   \
count      20.00000      20.000000  2.000000e+01      20.000000  20.000000
mean       10.50000       1.700000  1.160000e+06  197500.000000   3.650000
std         5.91608       0.470162  1.282842e+06   69726.910912   1.182103
min         1.00000       1.000000  4.000000e+05  100000.000000   1.000000
25%         5.75000       1.000000  6.750000e+05  150000.000000   3.000000
50%        10.50000       2.000000  8.750000e+05  200000.000000   4.000000
75%        15.25000       2.000000  1.125000e+06  250000.000000   4.250000
max        20.00000       2.000000  6.450000e+06  300000.000000   5.000000

              Total  Tingkat Kepuasan
count  2.000000e+01         20.000000
mean   7.100000e+05          2.050000
std    3.338768e+05          0.887041
min    2.000000e+05          1.000000
25%    4.750000e+05          1.000000
50%    6.750000e+05          2.000000
75%    9.250000e+05          3.000000
max    1.500000e+06          3.000000

Ringkasan dari kolom Harga :
count        20.000000
mean     197500.000000
std       69726.910912
min      100000.000000
25%      150000.000000
50%      200000.000000
75%      250000.000000
max      300000.000000
Name: Harga, dtype: float64

Nilai minimum tingkat kepuasan : 1
Nilai maximum tingkat kepuasan : 3

In [8]:
# Metode Sum (Total)
print("Melihat total dari setiap kolom :")
print(df.sum())

# Metode sum akan tetapi hanya menghitung tipe data numerik
print("\nMelihat total dari setiap kolom yang bertipe numerik:")
print(df.sum(numeric_only=True))

# Metode sum dari dua kolom
print("\nMelihat total dari kolom Harga dan Total :")
print(df[["Harga","Total"]].sum())

Melihat total dari setiap kolom :
ID Pelanggan                                                      210
Nama                ArifDianDindaFajarIkaIlhamIndraKartikaLestariL...
Jenis Kelamin                                                      34
Pendapatan                                                   23200000
Produk                                           ADDADBBEEEABCDCBCDAC
Harga                                                         3950000
Jumlah                                                             73
Total                                                        14200000
Tingkat Kepuasan                                                   41
dtype: object

Melihat total dari setiap kolom yang bertipe numerik:
ID Pelanggan             210
Jenis Kelamin             34
Pendapatan          23200000
Harga                3950000
Jumlah                    73
Total               14200000
Tingkat Kepuasan          41
dtype: int64

Melihat total dari kolom Harga dan Total :
Harga     3950000
Total    14200000
dtype: int64

In [9]:
# Memilih kolom dari data
print("Kolom Tingkat Kepuasan dari data :")
print(df["Tingkat Kepuasan"])
print("\nKolom Nama dan Pendapatan dari data :")
print(df[["Nama","Pendapatan"]])

# Memilih baris dari data
print("Memilih baris 0-14")
print(df[:15])
print(df.loc[:14])
print("\nMemilih baris 1,5, dan 10 :")
print(df.loc[[1,5,10]])
print("\nMemilih baris 2,4,6,8,10 dari kolom Nama :")
print(df["Nama"].loc[[2,4,6,8,10]])

Kolom Tingkat Kepuasan dari data :
0     2
1     2
2     3
3     3
4     2
5     3
6     1
7     3
8     1
9     1
10    3
11    3
12    2
13    1
14    2
15    1
16    3
17    1
18    3
19    1
Name: Tingkat Kepuasan, dtype: int64

Kolom Nama dan Pendapatan dari data :
       Nama  Pendapatan
0      Arif      600000
1      Dian     1200000
2     Dinda      950000
3     Fajar      400000
4       Ika     1200000
5     Ilham      800000
6     Indra      950000
7   Kartika     1100000
8   Lestari      800000
9       Lia     1700000
10    Maria      600000
11     Maya      950000
12     Mila      400000
13    Nurul     6450000
14    Retno     1000000
15     Rini      800000
16    Rizki     1200000
17     Sari      700000
18     Tyas      600000
19    Wahyu      800000
Memilih baris 0-14
    ID Pelanggan     Nama  Jenis Kelamin  Pendapatan Produk   Harga  Jumlah   \
0              1     Arif              1      600000      A  100000        4
1              2     Dian              2     1200000      D  250000        4
2              3    Dinda              2      950000      D  250000        3
3              4    Fajar              1      400000      A  100000        2
4              5      Ika              2     1200000      D  250000        4
5              6    Ilham              1      800000      B  150000        4
6              7    Indra              1      950000      B  150000        5
7              8  Kartika              2     1100000      E  300000        3
8              9  Lestari              2      800000      E  300000        2
9             10      Lia              2     1700000      E  300000        5
10            11    Maria              2      600000      A  100000        4
11            12     Maya              2      950000      B  150000        5
12            13     Mila              2      400000      C  200000        1
13            14    Nurul              2     6450000      D  250000        5
14            15    Retno              2     1000000      C  200000        4

      Total  Tingkat Kepuasan
0    400000                 2
1   1000000                 2
2    750000                 3
3    200000                 3
4   1000000                 2
5    600000                 3
6    750000                 1
7    900000                 3
8    600000                 1
9   1500000                 1
10   400000                 3
11   750000                 3
12   200000                 2
13  1250000                 1
14   800000                 2
    ID Pelanggan     Nama  Jenis Kelamin  Pendapatan Produk   Harga  Jumlah   \
0              1     Arif              1      600000      A  100000        4
1              2     Dian              2     1200000      D  250000        4
2              3    Dinda              2      950000      D  250000        3
3              4    Fajar              1      400000      A  100000        2
4              5      Ika              2     1200000      D  250000        4
5              6    Ilham              1      800000      B  150000        4
6              7    Indra              1      950000      B  150000        5
7              8  Kartika              2     1100000      E  300000        3
8              9  Lestari              2      800000      E  300000        2
9             10      Lia              2     1700000      E  300000        5
10            11    Maria              2      600000      A  100000        4
11            12     Maya              2      950000      B  150000        5
12            13     Mila              2      400000      C  200000        1
13            14    Nurul              2     6450000      D  250000        5
14            15    Retno              2     1000000      C  200000        4

      Total  Tingkat Kepuasan
0    400000                 2
1   1000000                 2
2    750000                 3
3    200000                 3
4   1000000                 2
5    600000                 3
6    750000                 1
7    900000                 3
8    600000                 1
9   1500000                 1
10   400000                 3
11   750000                 3
12   200000                 2
13  1250000                 1
14   800000                 2

Memilih baris 1,5, dan 10 :
    ID Pelanggan   Nama  Jenis Kelamin  Pendapatan Produk   Harga  Jumlah   \
1              2   Dian              2     1200000      D  250000        4
5              6  Ilham              1      800000      B  150000        4
10            11  Maria              2      600000      A  100000        4

      Total  Tingkat Kepuasan
1   1000000                 2
5    600000                 3
10   400000                 3

Memilih baris 2,4,6,8,10 dari kolom Nama :
2       Dinda
4         Ika
6       Indra
8     Lestari
10      Maria
Name: Nama, dtype: object

In [22]:
# Mencari Mean (Rata-Rata)
import numpy as np
print('Rata-rata dari kolom Pendapatan :')
print(df["Pendapatan"].mean())
print("Rata-rata dari kolom Harga :")
print(np.mean(df["Harga"]))
print("Rata-rata dari jumlah Produk C untuk setiap transaksi:")
print(df[df["Produk"]=="C"]["Jumlah "].mean())

Rata-rata dari kolom Pendapatan :
1160000.0
Rata-rata dari kolom Harga :
197500.0
Rata-rata dari jumlah Produk C untuk setiap transaksi:
3.25

In [24]:
# Mencari Median (Nilai Tengah)
print("Median dari kolom Total :")
print(df["Total"].median())
print(np.median(df["Total"]))

Median dari kolom Total :
675000.0
675000.0

In [79]:
# Mencari Modus (Nilai yang paling banyak muncul)
print("Jumlah total produk yang ditransaksikan:")
d = df["Jumlah "].groupby(df["Produk"]).sum()
print(d)
print("Modus dari total produk yang ditransaksikan:")
print(d.index[np.where(d==d.mode()[0])[0][0]])

Jumlah total produk yang ditransaksikan:
Produk
A    14
B    18
C    13
D    18
E    10
Name: Jumlah , dtype: int64
Modus dari total produk yang ditransaksikan:
B

In [84]:
# Mencari Nilai Kuantil (Quartil,Desil,Persentil)
print("75% /Quartil ke-3 /Desil ke-7.5 /Persentil ke-75 dari kolom Pendapatan:")
print(df["Pendapatan"].quantile(0.75))
print(np.quantile(df["Pendapatan"],0.75))

75% /Quartil ke-3 /Desil ke-7.5 /Persentil ke-75 dari kolom Pendapatan:
1125000.0
1125000.0

In [96]:
# Menggunakan metode .agg() untuk menghitung median dan mean
print("Mean dan median dari kolom Pendapatan :")
print(df[["Pendapatan","Harga"]].agg([np.mean,np.median]))

# Menggunakan metode groupby()
print("Mean dan Median dari kolom Harga dan Pendapatan berdasarkan Produk :")
print(df[["Pendapatan","Harga"]].groupby(df["Produk"]).agg([np.mean,np.median]))

Mean dan median dari kolom Pendapatan :
        Pendapatan     Harga
mean     1160000.0  197500.0
median    875000.0  200000.0
Mean dan Median dari kolom Harga dan Pendapatan berdasarkan Produk :
       Pendapatan                Harga
             mean     median      mean    median
Produk
A        550000.0   600000.0  100000.0  100000.0
B        875000.0   875000.0  150000.0  150000.0
C        850000.0   900000.0  200000.0  200000.0
D       2100000.0  1200000.0  250000.0  250000.0
E       1200000.0  1100000.0  300000.0  300000.0

In [101]:
# Menghitung Proporsi Data Kategorikal
print("Proporsi jumlah produk dalam transaksi :")
print(d/d.sum())

Proporsi jumlah produk dalam transaksi :
Produk
A    0.191781
B    0.246575
C    0.178082
D    0.246575
E    0.136986
Name: Jumlah , dtype: float64

In [102]:
# Menghitung Range (Rentang)
print("Range dari kolom Harga :")
print(df["Harga"].max() - df['Harga'].min())

Range dari kolom Harga :
200000

In [112]:
# Menghitung Varians
print("Varians dari kolom Pendapatan :")
print("Varians menggunakan Pandas :",df["Pendapatan"].var())
print("Varians menggunakan Numpy :",np.var(df["Pendapatan"]))

# Hasilnya berbeda karena default untuk Pandas adalah rumus varians untuk sampel sedangkan Numpy adalah rumus varians untuk populasi
# Untuk mengganti rumus varians default Pandas, harus ditambahkan parameter ddof=0
print("Varians menggunakan Pandas (ddof=0) :",df["Pendapatan"].var(ddof=0))

Varians dari kolom Pendapatan :
Varians menggunakan Pandas : 1645684210526.3157
Varians menggunakan Numpy : 1563400000000.0
Varians menggunakan Pandas (ddof=0) : 1563400000000.0

In [113]:
# Menghitung Standar Deviasi
print("Standar Deviasi dari kolom Pendapatan :")
print(df["Pendapatan"].std())
print(np.std(df["Pendapatan"],ddof=1))

Standar Deviasi dari kolom Pendapatan :
1282842.2391417876
1282842.2391417876

In [119]:
# Menghitung korelasi antar variabel dalam data
print("Korelasi Pearson :")
print(df.corr())
print("\n")
print("Korelasi Spearman :")
print(df.corr(method="spearman"))
print("\n")
print("Korelasi Kendall :")
print(df.corr(method="kendall"))

Korelasi Pearson :
                  ID Pelanggan  Jenis Kelamin  Pendapatan     Harga   Jumlah   \
ID Pelanggan          1.000000       0.151375    0.110958 -0.028707  0.011289
Jenis Kelamin         0.151375       1.000000    0.192849  0.457555 -0.104168
Pendapatan            0.110958       0.192849    1.000000  0.322443  0.399825
Harga                -0.028707       0.457555    0.322443  1.000000 -0.138883
Jumlah                0.011289      -0.104168    0.399825 -0.138883  1.000000
Total                -0.039968       0.238051    0.592044  0.645455  0.636097
Tingkat Kepuasan     -0.245717      -0.088339   -0.312663 -0.380798  0.017568

                     Total  Tingkat Kepuasan
ID Pelanggan     -0.039968         -0.245717
Jenis Kelamin     0.238051         -0.088339
Pendapatan        0.592044         -0.312663
Harga             0.645455         -0.380798
Jumlah            0.636097          0.017568
Total             1.000000         -0.268345
Tingkat Kepuasan -0.268345          1.000000


Korelasi Spearman :
                  ID Pelanggan  Jenis Kelamin  Pendapatan     Harga   Jumlah   \
ID Pelanggan          1.000000       0.151375   -0.063711 -0.039149  0.046356
Jenis Kelamin         0.151375       1.000000    0.219508  0.463635 -0.098864
Pendapatan           -0.063711       0.219508    1.000000  0.640000  0.607110
Harga                -0.039149       0.463635    0.640000  1.000000 -0.130749
Jumlah                0.046356      -0.098864    0.607110 -0.130749  1.000000
Total                -0.069779       0.219508    0.998470  0.646194  0.607110
Tingkat Kepuasan     -0.238890      -0.090784   -0.192463 -0.378933 -0.023874

                     Total  Tingkat Kepuasan
ID Pelanggan     -0.069779         -0.238890
Jenis Kelamin     0.219508         -0.090784
Pendapatan        0.998470         -0.192463
Harga             0.646194         -0.378933
Jumlah            0.607110         -0.023874
Total             1.000000         -0.192463
Tingkat Kepuasan -0.192463          1.000000


Korelasi Kendall :

C:\Users\zulfi\AppData\Local\Temp\ipykernel_3216\1719672699.py:3: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  print(df.corr())
C:\Users\zulfi\AppData\Local\Temp\ipykernel_3216\1719672699.py:6: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  print(df.corr(method="spearman"))
C:\Users\zulfi\AppData\Local\Temp\ipykernel_3216\1719672699.py:9: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  print(df.corr(method="kendall"))

                  ID Pelanggan  Jenis Kelamin  Pendapatan     Harga   Jumlah   \
ID Pelanggan          1.000000       0.126650   -0.054998 -0.005753  0.024016
Jenis Kelamin         0.126650       1.000000    0.190245  0.415339 -0.090299
Pendapatan           -0.054998       0.190245    1.000000  0.523053  0.501925
Harga                -0.005753       0.415339    0.523053  1.000000 -0.098450
Jumlah                0.024016      -0.090299    0.501925 -0.098450  1.000000
Total                -0.065998       0.190245    0.988506  0.535078  0.501925
Tingkat Kepuasan     -0.183817      -0.085796   -0.165588 -0.325659 -0.028923

                     Total  Tingkat Kepuasan
ID Pelanggan     -0.065998         -0.183817
Jenis Kelamin     0.190245         -0.085796
Pendapatan        0.988506         -0.165588
Harga             0.535078         -0.325659
Jumlah            0.501925         -0.028923
Total             1.000000         -0.165588
Tingkat Kepuasan -0.165588          1.000000

Sumber Belajar : www.dqlab.id